.animate {
  font-size: 100px;
  width: 100px;
  height: 100px;
  margin-left: 33%;
  margin-top: 20%;
  color: blue;
  animation: animate 4s;
}

@keyframes animate {
  from {margin-top: 20%;}
  to {margin-top: 5%;}
}
